PORT=8000
APP_NAME="UptimeClient"
NODE_ENV=development

ENDPOINT=http://localhost:8000
ALLOWED_ORIGIN=http://localhost:3000

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=921600

EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_email_password
SUPPORT_EMAIL=your_support_email@gmail.com

DEBUG_LOG_LEVEL=1
MONGO_URI=mongodb://localhost:27017/uptimeclient